body {
  margin: 0;
  background: #232729;
}
p {
  font-size: 12pt;
  color: white;
}
@font-face {
    font-family: "NPC Chat"; 
    src: url("npc_chat.ttf");
}
body {
    font-family: "NPC Chat";
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
