body {
  margin: 0;
  background: #232729;
}
p {
  font-family: Monospace Regular;
  font-size: 12pt;
  color: white;
}
.content {
  width: 410px;
  height: 170px;
  background-color: #33393B;
  color: #FFFFFF;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  padding: 10px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}
